@if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(Model.FullName))
{
    <li class="header-nav-item">
        <a class="header-rent-link" href="@Model.ProfileUrl" title="Manage">Привет, @Model.FullName!</a>
    </li>
    <li class="header-nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="header-rent-link">Выйти</button>
        </form>
    </li>
}
else
{
    <li class="header-nav-item">
        <a class="header-rent-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="header-nav-item">
        <a class="header-rent-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}



@* <ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Model.ProfileUrl" title="Manage">Привет, @Model.FullName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul> *@
