@model RentCalculatorViewModel
@{
    ViewBag.Title = "Калькулятор аренды";
    var prices = ViewBag.Prices as Dictionary<int, decimal>;
}
<main class="main lk-center">
    <section class="lk-title-section">
        <div class="lk-title-container">
            <h1 class="lk-title-h1-center">Калькулятор аренды</h1>
        </div>
    </section>

    <form id="rentForm">
        <div class="calc-select">
            <div class="calc-form-div">
                <label for="PlaceId" class="rent-filter-label">Место:</label>
                <select id="PlaceId" asp-for="PlaceId" asp-items="ViewBag.Places" onchange="updatePrice()" class="calc-select"></select>
            </div>
            <div class="calc-form-div">
                <span class="rent-filter-label">Цена аренды за месяц: </span><span id="monthlyPrice"></span>
            </div>
            <div class="calc-form-div">
                <label for="StartDate" class="rent-filter-label">Дата начала:</label>
                <input type="date" id="StartDate" asp-for="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
            </div>
            <div class="calc-form-div">
                <label for="EndDate" class="rent-filter-label">Дата окончания:</label>
                <input type="date" id="EndDate" asp-for="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
            </div>
            <button type="submit" class="dg-small-btn">Рассчитать</button>
        </div>
        
    </form>
    
    <div class="calc-result-div">
        <div id="result">
            @if (Model.TotalCost > 0)
            {
                <h3 class="calc-result">Стоимость аренды: @Model.TotalCost.ToString("F2") ₽</h3>
            }
        </div>
    </div>
    

    <div class="back-btn balance-btn-container">
        <button type="button" class="lg-small-btn" onclick="window.location.href='@Url.Action("Index", "Place")'">Назад</button>
    </div>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const prices = @Html.Raw(Json.Serialize(prices));

        function updatePrice() {
            const placeId = document.getElementById('PlaceId').value;
            const price = prices[placeId] || 0;
            document.getElementById('monthlyPrice').innerText = price.toFixed(2) + " ₽";
        }

        $(document).ready(function () {
            updatePrice(); // Обновление цены при загрузке страницы

            $('#rentForm').submit(function (event) {
                event.preventDefault(); // Останавливаем стандартное поведение формы

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Calculate")',
                    data: $(this).serialize(),
                    success: function (response) {
                        $('#result').html('<h3 class="calc-result">Стоимость аренды: ' + response.totalCost + ' ₽</h3>');
                    }
                });
            });
        });
    </script>
}
