@using ApplicationRent.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager
@{
    ViewData["Title"] = "Аренда";
}
@model IEnumerable<ApplicationRent.Data.Identity.Place>

<main class="main">
    <section class="rent-title-section">
        <div class="rent-title-container">
            <h1 class="rent-title-h1">Помещения</h1>
        </div>
    </section>

    <style>
        .place-card {
            width: 150px;
            height: 150px;
            margin: 10px;
            padding: 10px;
            box-shadow: 0 0 5px #ccc;
            display: inline-block;
            vertical-align: top;
            position: relative;
        }

            .place-card.rented {
                background-color: red;
            }

            .place-card .place-info {
                margin-bottom: 20px;
            }

            .place-card .actions {
                position: absolute;
                bottom: 10px;
                width: 100%;
                text-align: center;
            }

        .action-btn {
            text-decoration: none;
            color: white;
            background-color: #007bff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
        }

            .action-btn:not(:last-child) {
                margin-right: 5px;
            }

        .place-card.not-rented {
            background-color: green;
        }

        .place-cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
        }

    </style>

    @if (SignInManager.IsSignedIn(User))
    {
        <section class="rent">
            <div class="rent-container">

                <div class="rent-filters">
                </div>

                <div class="rent-switch-container">
                    <label class="rent-switch-text">Список</label>
                    <label class="rent-switch-label" id="list-label">
                        <input type="checkbox" class="rent-switch-input" id="view-switch" />
                        <span class="rent-switch-slider"></span>
                    </label>
                    <label class="rent-switch-text">Карточки</label>
                </div>

                <div id="list-view" class="rent-list-view" style="display:none;">
                    <div>
                        <div class="rent-list-container">
                            <div class="rent-list-grid">
                                @foreach (var item in Model)
                                {
                                    <div class="rent-list-grid-block1">
                                        <img class="rent-list-pic" src="@Url.Content("~/place/" + item.ImageFileName1)" alt="Image 1 " />
                                    </div>
                                    <div class="rent-list-grid-block2">
                                        <h2 class="rent-list-h2">@Html.DisplayFor(modelItem => item.Name)</h2>
                                        <p class="rent-list-description">@Html.DisplayFor(modelItem => item.Description)</p>
                                    </div>
                                    <div class="rent-list-grid-block3">
                                        <p class="rent-list-facts">@Html.DisplayFor(modelItem => item.SizePlace) м</p>
                                        <p class="rent-list-facts">@Html.DisplayFor(modelItem => item.Price) м</p>
                                        @if (!item.InRent)
                                        {
                                            <p class="rent-list-status">Свободно</p>
                                        }
                                        else
                                        {
                                            <p class="rent-list-status">Занято до: @item.EndRent.ToString("dd.MM.yyyy")</p>
                                        }
                                    </div>
                                    <div class="rent-list-grid-block4">
                                        <button onclick="location.href='@Url.Action("Details", new { id = @item.Id })'" class="rent-list-btn-details">Подробнее</button>
                                        @if (!item.InRent)
                                        {
                                            <button onclick="location.href='@Url.Action("Rent", new { id = @item.Id })'" class="rent-list-btn">Арендовать</button>
                                        }
                                        else
                                        {
                                            <button disabled class="rent-list-btn-disabled">Арендовать</button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div id="card-view" class="rent-card-view" style="display:none;">
                    @foreach (var item in Model)
                    {
                        <div class="rent-place-card">
                            <div class="rent-place-card-title">
                                <h2 class="rent-place-card-h2">@Html.DisplayFor(modelItem => item.Name)</h2>
                            </div>
                            <img class="rent-place-card-pic" src="@Url.Content("~/place/" + item.ImageFileName1)" alt="Image 1 " />
                            <div class="rent-place-card-status-container @(item.InRent ? "rented" : "not-rented")">
                                @if (!item.InRent)
                                {
                                    <p class="rent-place-card-status-text">Свободно</p>
                                }
                                else
                                {
                                    <p class="rent-place-card-status-text">Занято до: @item.EndRent.ToString("dd.MM.yyyy")</p>
                                }
                            </div>
                            <div class="rent-place-card-details-grid">
                                <div>
                                    @Html.DisplayFor(modelItem => item.Price) ₽
                                </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.SizePlace) м
                                </div>
                            </div>
                            <div class="rent-place-card-category">
                                <p class="rent-place-card-category-text">@Html.DisplayFor(modelItem => item.Category)</p>
                            </div>
                            <div class="rent-place-card-actions">
                                <div class="rent-place-card-actions-btn">
                                    <button onclick="location.href='@Url.Action("Details", new { id = @item.Id })'" class="rent-place-card-btn-details">Подробнее</button>
                                </div>
                                <div class="rent-place-card-actions-btn">
                                    @if (!item.InRent)
                                    {
                                        <button onclick="location.href='@Url.Action("Rent", new { id = @item.Id })'" class="rent-place-card-btn">Арендовать</button>
                                    }
                                    else
                                    {
                                        <button disabled class="rent-place-card-btn-disabled">Арендовать</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="rent">
            <div class="rent-container">

                <div class="rent-filters">
                </div>

                <div class="rent-switch-container">
                    <label class="rent-switch-text">Список</label>
                    <label class="rent-switch-label" id="list-label">
                        <input type="checkbox" class="rent-switch-input" id="view-switch" />
                        <span class="rent-switch-slider"></span>
                    </label>
                    <label class="rent-switch-text">Карточки</label>
                </div>

                <div id="list-view" class="rent-list-view" style="display:none;">
                    <div>
                        <div class="rent-list-container">
                            <div class="rent-list-grid">
                                @foreach (var item in Model)
                                {
                                    <div class="rent-list-grid-block1">
                                        <img class="rent-list-pic" src="@Url.Content("~/place/" + item.ImageFileName1)" alt="Image 1 " />
                                    </div>
                                    <div class="rent-list-grid-block2">
                                        <h2 class="rent-list-h2">@Html.DisplayFor(modelItem => item.Name)</h2>
                                        <p class="rent-list-description">@Html.DisplayFor(modelItem => item.Description)</p>
                                    </div>
                                    <div class="rent-list-grid-block3">
                                        <p class="rent-list-facts">@Html.DisplayFor(modelItem => item.SizePlace) м</p>
                                        <p class="rent-list-facts">@Html.DisplayFor(modelItem => item.Price) м</p>
                                        @if (!item.InRent)
                                        {
                                            <p class="rent-list-status">Свободно</p>
                                        }
                                        else
                                        {
                                            <p class="rent-list-status">Занято до: @item.EndRent.ToString("dd.MM.yyyy")</p>
                                        }
                                    </div>
                                    <div class="rent-list-grid-block4">
                                        <button onclick="location.href='@Url.Action("Details", new { id = @item.Id })'" class="rent-list-btn-details">Подробнее</button>
                                        @if (!item.InRent)
                                        {
                                            <button class="rent-list-btn unauthorized-rent-btn">Арендовать</button>
                                        }
                                        else
                                        {
                                            <button disabled class="rent-list-btn-disabled">Арендовать</button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div id="card-view" class="rent-card-view" style="display:none;">
                    @foreach (var item in Model)
                    {
                        <div class="rent-place-card">
                            <div class="rent-place-card-title">
                                <h2 class="rent-place-card-h2">@Html.DisplayFor(modelItem => item.Name)</h2>
                            </div>
                            <img class="rent-place-card-pic" src="@Url.Content("~/place/" + item.ImageFileName1)" alt="Image 1 " />
                            <div class="rent-place-card-status-container @(item.InRent ? "rented" : "not-rented")">
                                @if (!item.InRent)
                                {
                                    <p class="rent-place-card-status-text">Свободно</p>
                                }
                                else
                                {
                                    <p class="rent-place-card-status-text">Занято до: @item.EndRent.ToString("dd.MM.yyyy")</p>
                                }
                            </div>
                            <div class="rent-place-card-details-grid">
                                <div>
                                    @Html.DisplayFor(modelItem => item.Price) ₽
                                </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.SizePlace) м
                                </div>
                            </div>
                            <div class="rent-place-card-category">
                                <p class="rent-place-card-category-text">@Html.DisplayFor(modelItem => item.Category)</p>
                            </div>
                            <div class="rent-place-card-actions">
                                <div class="rent-place-card-actions-btn">
                                    <button onclick="location.href='@Url.Action("Details", new { id = @item.Id })'" class="rent-place-card-btn-details">Подробнее</button>
                                </div>
                                <div class="rent-place-card-actions-btn">
                                    @if (!item.InRent)
                                    {
                                        <button class="rent-place-card-btn unauthorized-rent-btn">Арендовать</button>
                                    }
                                    else
                                    {
                                        <button disabled class="rent-place-card-btn-disabled">Арендовать</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const viewSwitch = document.getElementById("view-switch");
            const cardView = document.getElementById("card-view");
            const listView = document.getElementById("list-view");
            const rentButtons = document.querySelectorAll(".unauthorized-rent-btn");

            // Скрыть карточки по умолчанию
            cardView.style.display = "none";
            listView.style.display = "block";

            viewSwitch.addEventListener("change", function () {
                if (viewSwitch.checked) {
                    // Если переключатель включен, показываем карточки
                    cardView.style.display = "block";
                    listView.style.display = "none";
                } else {
                    // Если переключатель выключен, показываем список
                    cardView.style.display = "none";
                    listView.style.display = "block";
                }
            });

            rentButtons.forEach(button => {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    alert("Для аренды необходимо авторизоваться");
                });
            });
        });
    </script>
</main>




