@using ApplicationRent.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager
@{
    ViewData["Title"] = "Аренда";
}
@model IEnumerable<ApplicationRent.Data.Identity.Place>

<h2>Помещения</h2>
<!-- Тест -->
<style>
    .place {
        width: 100px;
        height: 100px;
        margin: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 100px;
    }

    .in-rent {
        background-color: red;
    }

    .not-in-rent {
        background-color: green;
    }
</style>

@foreach (var place in Model)
{
    <div class="place @(place.InRent ? "in-rent" : "not-in-rent")" data-id="@place.Id">
        @place.Name
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.place').click(function () {
            var placeId = $(this).data('id');
            $.ajax({
                url: '/Place/ToggleRentStatus/' + placeId,
                method: 'POST',
                success: function (result) {
                    location.reload(); // Перезагрузка страницы для отображения изменений
                }
            });
        });
    });
</script>

<!-- Тест -->


<script>
    $(document).ready(function () {
        $('.rent-button').click(function () {
            var placeId = $(this).data('id');
            $('#saveChanges').data('id', placeId); // Передаем ID места кнопке в модальном окне
            $('#editPlaceModal').modal('show');
        });

        $('#saveChanges').click(function () {
            var placeId = $(this).data('id');
            var newEndRent = $('#newEndRent').val();
            var newInRentStatus = $('#newInRentStatus').is(':checked');

            $.ajax({
                url: '/Place/UpdateRentStatus', // Предполагается, что этот метод будет создан в контроллере
                method: 'POST',
                data: {
                    id: placeId,
                    endRent: newEndRent,
                    inRent: newInRentStatus
                },
                success: function (result) {
                    $('#editPlaceModal').modal('hide');
                    location.reload(); // Перезагрузка страницы для отображения изменений
                }
            });
        });
    });
</script>


@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartRent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndRent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InRent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartRent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndRent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InRent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Для отображения мест аренды зарегистрируйтесь</p>
}



