@{
    ViewData["Title"] = "Аренда";
}

@model ApplicationRent.Data.Identity.Place

<h2>Удаление места</h2>

<h3>Вы уверены что хотите удалить?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Размер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SizePlace)
        </dd>
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (!string.IsNullOrEmpty(Model.ImageFileName1))
        {
            <dt class="col-sm-2">Image 1</dt>
            <dd class="col-sm-10">
                <img src="@Url.Content("~/place/" + Model.ImageFileName1)" alt="Image 1" style="max-width: 200px; max-height: 200px;" />
            </dd>
        }
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
