@{
    ViewData["Title"] = "Аренда";
}
@model ApplicationRent.Data.Identity.Place

<main class="main">
    <style>
        .upload-form {
            display: none;
        }

        .thumbnail {
            display: none;
            margin-top: 10px;
            max-width: 200px;
            max-height: 200px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <h2>Изменение информации о месте</h2>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartRent" class="control-label"></label>
            <input asp-for="StartRent" class="form-control" />
            <span asp-validation-for="StartRent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndRent" class="control-label"></label>
            <input asp-for="EndRent" class="form-control" />
            <span asp-validation-for="EndRent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input asp-for="InRent" class="form-check-input" />
                <label asp-for="InRent" class="form-check-label">В аренде?</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label">Цена</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SizePlace" class="control-label">Размер в м2</label>
            <input asp-for="SizePlace" class="form-control" />
            <span asp-validation-for="SizePlace" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label">Категория</label>
            <select asp-for="Category" class="form-control" asp-items="@(new SelectList(ViewBag.Categories))"></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Описание</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName1" class="control-label">Image File 1</label>
            <input asp-for="ImageFileName1" class="form-control" type="file" data-image-id="image1" />
            <span asp-validation-for="ImageFileName1" class="text-danger"></span>
            <img id="image1" class="thumbnail" src="@(!string.IsNullOrEmpty(Model.ImageFileName1) ? Url.Content("~/place/" + Model.ImageFileName1) : "")" alt="Image 1" />
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName2" class="control-label">Image File 2</label>
            <input asp-for="ImageFileName2" class="form-control" type="file" data-image-id="image2" />
            <span asp-validation-for="ImageFileName2" class="text-danger"></span>
            <img id="image2" class="thumbnail" src="@(!string.IsNullOrEmpty(Model.ImageFileName2) ? Url.Content("~/place/" + Model.ImageFileName2) : "")" alt="Image 2" />
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName3" class="control-label">Image File 3</label>
            <input asp-for="ImageFileName3" class="form-control" type="file" data-image-id="image3" />
            <span asp-validation-for="ImageFileName3" class="text-danger"></span>
            <img id="image3" class="thumbnail" src="@(!string.IsNullOrEmpty(Model.ImageFileName3) ? Url.Content("~/place/" + Model.ImageFileName3) : "")" alt="Image 3" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Admin")';">Отмена</button>
    <section class="upload-form">
        <div class="upload-form-container">
            <h1 class="upload-form-title">Загрузка фото</h1>
            <form id="uploadForm" asp-action="UploadPhoto" method="post" enctype="multipart/form-data">
                <input type="file" id="photo" name="photo" required />
                <button type="submit" class="upload-form-btn">Загрузить</button>
            </form>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            function readURL(input, imageId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var imageElement = $('#' + imageId);
                        imageElement.attr('src', e.target.result);
                        imageElement.show();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("input[type='file']").change(function () {
                var fileInput = document.getElementById('photo');
                fileInput.files = this.files;

                var formData = new FormData(document.getElementById('uploadForm'));
                var currentInput = $(this);

                $.ajax({
                    type: 'POST',
                    url: $('#uploadForm').attr('action'),
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert('Файл успешно загружен: ' + response.message);

                        var fileName = response.fileName;
                        var imageId = currentInput.data('image-id');
                        var imageElement = $('#' + imageId);
                        imageElement.attr('src', '@Url.Content("~/place/")' + fileName);
                        imageElement.show();
                    },
                    error: function () {
                        alert('Ошибка при загрузке файла.');
                    }
                });
            });

            $('#uploadForm').submit(function (event) {
                event.preventDefault();
            });

            // Показать существующие изображения
            $('.thumbnail').each(function () {
                if ($(this).attr('src') !== '') {
                    $(this).show();
                }
            });
        });
    </script>
</main>


