@model UserProfileViewModel

<main class="main">
    <h2>Личный кабинет пользователя: @Model.User.FullNameUser</h2>
    <a href="@Url.Action("UpdateUserProfile", "UserProfile")" class="btn btn-primary">Изменить данные пользователя</a>
    @if (Model.Rentals.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Место</th>
                    <th>Начало аренды</th>
                    <th>Окончание аренды</th>
                    <th>Продление аренды</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rental in Model.Rentals)
                {
                    <tr>
                        <td>@rental.Place.Name</td>
                        <td>@rental.StartRent.ToString("dd.MM.yyyy")</td>
                        <td>@rental.EndRent.ToString("dd.MM.yyyy")</td>
                        <td>
                            <button type="button" onclick="toggleForm('@rental.Id')">Продлить аренду</button>
                            <form asp-action="UpdateRentalEndDate" method="post" id="form-@rental.Id" style="display:none;">
                                <input type="hidden" name="rentalId" value="@rental.Id" />
                                <input type="date" name="newEndDate" value="@rental.EndRent.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                <button type="submit">Обновить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>У вас нет актуальных мест аренды.</p>
    }

    <script>
        function toggleForm(rentalId) {
            var form = document.getElementById('form-' + rentalId);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }
    </script>
</main>

