@model UserProfileViewModel

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<main class="main">
    <h2>Личный кабинет пользователя: @Model.User.FullNameUser</h2>
    <p>Баланс: @Model.User.Balance.ToString("C")</p>
    <a href="@Url.Action("TopUpBalance", "UserProfile")" class="btn btn-secondary">Пополнить баланс</a>
    <a href="@Url.Action("TransactionHistory", "UserProfile")" class="btn btn-secondary">История транзакций</a>
    <form id="updateUserProfileForm" asp-action="UpdateUserProfile" method="post" onsubmit="updateUserProfile(event)">
        <div class="form-group">
            <label for="FullNameUser">Полное имя</label>
            <input type="text" class="form-control" id="FullNameUser" name="FullNameUser" value="@Model.User.FullNameUser" required>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" value="@Model.User.Email" required>
            <div id="emailError" class="text-danger" style="display:none;"></div>
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Телефонный номер</label>
            <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.User.PhoneNumber" required>
        </div>
        <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
    <a href="@Url.Action("ChangePassword", "UserProfile")" class="btn btn-secondary">Изменить пароль</a>
    @if (Model.Rentals.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Место</th>
                    <th>Начало аренды</th>
                    <th>Окончание аренды</th>
                    <th>Продление аренды</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rental in Model.Rentals)
                {
                    <tr>
                        <td>@rental.Place.Name</td>
                        <td>@rental.StartRent.ToString("dd.MM.yyyy")</td>
                        <td>@rental.EndRent.ToString("dd.MM.yyyy")</td>
                        <td>
                            <button type="button" onclick="toggleForm('@rental.Id')">Продлить аренду</button>
                            <form asp-action="UpdateRentalEndDate" method="post" id="form-@rental.Id" style="display:none;">
                                <input type="hidden" name="rentalId" value="@rental.Id" />
                                @* <input type="date" name="newEndDate" value="@rental.EndRent.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" /> *@
                                @{
                                    var newEndDate = rental.EndRent.AddDays(1);
                                }
                                <input type="date" name="newEndDate" value="@newEndDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                <button type="submit">Обновить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>У вас нет актуальных мест аренды.</p>
    }
    <script>
        //функция продления аренды
        function toggleForm(rentalId) {
            var form = document.getElementById('form-' + rentalId);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }
    </script>
    <script>
        function updateUserProfile(event) {
            // Предотвращаем действие по умолчанию (отправку формы)
            event.preventDefault();

            var form = document.getElementById('updateUserProfileForm');
            var formData = new FormData(form);

            // Отправляем AJAX-запрос
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                }
            })
                .then(response => {
                    if (response.ok) {
                        // Если ответ успешен, перезагружаем страницу
                        window.location.reload();
                    } else if (response.status === 400) {
                        // Если ответ содержит ошибку 400 (неверные данные), обрабатываем ошибку
                        response.json().then(data => {
                            if (data.errors) {
                                // Если есть ошибки, отображаем их
                                for (var key in data.errors) {
                                    var errorElement = document.getElementById(key + 'Error');
                                    if (errorElement) {
                                        errorElement.innerText = data.errors[key];
                                        errorElement.style.display = 'block';
                                    }
                                }
                            }
                        });
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</main>